---
layout: default
---

  <div id="homeid" class="col-sm-8">
        <h1>Welcome to the Visual Machines Group</h1>
    
        <div class="col-md-12 image-wrapper" style="position:relative;">
          <div class="over-text d-none d-md-none d-lg-block" style="position: absolute; top: 200px; left: 0; width: 100%;">
              <div class="heading" style="color:black;">Giving Robots the Gift of Sight</div>
              <div class="body" style="color:black">Superhuman cameras enable superhuman robotics,
                <br>advancing cyberphysical systems and digital health
		<img src="img2/banner.png" class="img-responsive" style="width:100%;">
              </div>
          </div>
        </div>
	 <div>
	  <div style="background-image: img2/banner.png;"></div>
		Does it work?
	</div>
	{{ content }}
  </div>
  <div id="newsid" class="col-sm-4" >
	{% include news.html %}
  </div>
