---
layout: default
---

  <div id="homeid" class="col-sm-8">
	  
	<h1>Welcome to the Visual Machines Groupiajsdi</h1>
	<div style="border: 5px solid red">  
		work
		<img src="/img2/banner.png" class="img-responsive" style="width: 100%; position: relative">
		<img src="/img2/banner.png" class="img-responsive" style="width: 100%">
		work
		<div style="position: absolute;"> Does it work? </div>
	</div>
	  <div style="border: 5px solid red"> 
		  <div style="position: absolute"> WOrking???? </div>
	  	<img src="img2/banner.png" class="img-responsive" style="width:100%; position: relative">
	  </div>
	{{ content }}
  </div>
  <div id="newsid" class="col-sm-4" >
	{% include news.html %}
  </div>
