---
layout: default
---

  <div id="homeid">
	  
	<h1>Welcome to the Visual Machines Group</h1>

	  <div style="border: 5px solid red"> 
		<div style="position: absolute; z-index: 1; border: 5px solid red">
			<div class="heading" style="color:black; font-size: 18pt">Giving Robots the Gift of Sight</div>
              		<div class="body" style="color:black; font-size:12pt">Superhuman cameras enable superhuman robotics,
                	<br>advancing cyberphysical systems and digital health
			</div>
		 </div>
	  	<img src="img2/banner.png" class="img-responsive" style="width:100%; position: relative">
	  </div>
	<br>
	<br>
	<br>
	<br>
  </div>
  <div class="col-sm-8">
	{{ content }}
  </div>
  <div id="newsid" class="col-sm-4" >
	{% include news.html %}
  </div>
